@use '../variaveis';

@mixin inputForm() {
    background-color: transparent;
    border: 3px solid variaveis.$laranja-principal;
    width: 280px;
    border-radius: 4px;
    padding: 8px;
    color: variaveis.$branco;
}