@use '../../abstract/variaveis';

body {
    background-color: variaveis.$preto;
    color: variaveis.$branco;
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    gap: 56px;

    h1 {
        color: variaveis.$laranja-principal;
        font-size: 50px;
        font-family: variaveis.$fonte-titulo;
        text-align: center;
    }

    #form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
        .container-form {
            display: flex;
            flex-direction: column;
            gap: 8px;
            input {
                background-color: transparent;
                border: 3px solid variaveis.$laranja-principal;
                width: 280px;
                border-radius: 4px;
                padding: 8px;
                color: variaveis.$branco;

                &:focus {
                    outline: none;
                }
            }

            label {
                font-family: variaveis.$fonte-texto;
                
            }
        }

        button {
            color: variaveis.$branco;
            border: 3px solid variaveis.$laranja-principal;
            width: 308px;
            background-color: variaveis.$laranja-principal;
            border-radius: 4px;
            padding: 5px;
        }
    }

    a {
        text-decoration: none;
        color: variaveis.$cinza-claro;
        text-align: center;
        font-family: variaveis.$fonte-texto;
    }
}