@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$laranja-principal: #FF9F0A;
$preto: #000;
$branco: #fff;
$cinza-escuro: #2A2A2C;
$cinza-claro: #5C5C5F;
$fonte-titulo: "Krona One", serif;
$fonte-texto: "Oswald", serif;